/* Kristine CSS v0.0.5 */
.showInfo {
    font-size: 14px;
}

.details {
    font-size: 16px;
    margin-bottom: 20px;
}

.is-head {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ce5d43;
}

.is-forum {
    padding-left: 10px;
}

.is-type {
    color: gray;
    font-size: 11px;
}

.has-borders {
    border-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-color: rgb(196, 84, 84);
}

div .ajust-left {
    padding-left: 20px
}

.ajust-left.is-bar {
    padding-left: 70px
}

div .ajust-right {
    padding-right: 100px
}

footer.dark {
    background-color: #363636;
}

p.copyright {
    color: white;
    font-size: 12px;
}

a.copyright {
    color: whitesmoke;
    font-size: 12px;
}

a.copyright:hover {
    color: purple;
}

.loadTime {
    font-size: 11px;
}

.image.is-profile img {
    border-radius: 50%; !important;
    margin-bottom: 5px; !important;
}

.image.is-circle img {
    border-radius: 50%; !important;
}

/* Utils */
.right {
    float: right;
}
.left {
    float: left;
}
.mid {
    text-align: center;
}
.underline {
        text-decoration: underline;
}

/* Tables */


/* Old CSS v0.0.1 */
.network-name {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}
