/* Kristine CSS */

.is-head {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ce5d43;
}

footer {
    background-color: #505050;
}

p.copyright {
    color: white;
    margin: 10px 0 0;
}

.navbar.is-coloured {
    background-color: #525451;
}

.loadInfo {
    font-size: 11px;
}

/* Utils */
.justify {
    text-align: justify;
}
.mid {
    text-align: center;
}
.right {
    float: right;
}
.left {
    float: left;
}

.bold {
    font-weight: bold;
}

.black {
    color: black;
}

/* Old CSS v0.0.1 */
.network-name {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}

ul.tos {
    margin-left: 50px;
    list-style-type: circle;
}

li.title {
    margin: 10px 0;
}

.important {
    font-size: 20px;
}


