extends layout

block content
    section.section
        .container.is-fluid
            .columns.has-text-left
                .column.is-1

                .column.is-9
                    if content != null
                        for forum in content
                            .box
                                nav.breadcrumb(aria-label='breadcrumbs')
                                    ul
                                        li
                                            a(href='/#cat.' + forum.catId) #{cat}
                            nav.level.has-background-danger.is-rounded-top
                                .level-left
                                    .level-item.is-colored
                                        span.icon.is-medium.has-text-warning.ml-2
                                            i.far.fa-lg.fa-folder-open
                                        p.has-text-weight-bold.is-size-5.has-text-white.my-3 #{forum.title}
                                if session.user != null
                                    .level-right
                                        .level-item.mr-3
                                            a.button.is-light(href='/new/' + forum.id)
                                                span.icon
                                                    i.fas.fa-plus.has-text-black
                                                span #{data.lang.getLang('post.new_post')}
                                                span.icon
                                                    i.fas.fa-plus.has-text-black
                            hr.is-dark.is-marginless.with-level
                            if forum.posts.length > 0
                                for post in forum.posts
                                    nav.level.has-background-white.is-marginless
                                        .level-left
                                            .level-item.my-2
                                                span.icon.is-large.has-text-primary.mx-2
                                                    i.fas.fa-2x.fa-comments
                                                span
                                                    a.is-cat.mt-1.is-size-5(href='/post/' + forum.id + '/' + post.id)  #{post.title}