extends ../layout

block block
    section.hero.is-light.is-fullheight
        .hero-body
            .container.has-text-centered
                .column.is-4.is-offset-4
                    .notification#info #{err}
                    h3.title.has-text-grey Login
                    p.subtitle.has-text-grey Please login to proceed.
                    .box
                        form(action="" method="post")
                            .field
                                .control
                                    input.input.is-large(name="email" type="email" placeholder="Your Email" autofocus="")
                            .field
                                .control
                                    input.input.is-large(name="password" type="password" placeholder="Your Password")
                            .field
                                label.checkbox
                                    input(style={'font-weight': '300'}, type='checkbox')
                                    |   Remember me
                            button.button.is-block.is-info.is-large.is-fullwidth Login
                    p.has-text-grey
                        a(href='/register') Sign Up
                        |   · 
                        a(href='../') Forgot Password
                        |   · 
                        a(href='/help') Need Help?