extends ../layout

block block
    section.hero.is-light.is-fullheight
        .hero-body
            .container.has-text-centered
                .column.is-4.is-offset-4
                    .notification#info #{err}
                    h3.title.has-text-grey Register
                    p.subtitle.has-text-grey Please Register to the site.
                    .box
                        form(action="" method="post" autocomplete='off')
                            .field
                                .control
                                    input.input.is-large(type="text" placeholder="Your Username" name="user" autofocus="")
                            .field
                                .control
                                    input.input.is-large(type="email" placeholder="Your Email" name="email" autofocus="")
                            .field
                                .control
                                    input.input.is-large(type="password" name="password" placeholder="Your Password")

                            button.button.is-block.is-info.is-large.is-fullwidth Register
                    p.has-text-grey
                        a(href='/login') Log In
                        |   · 
                        a(href='/help') Need Help?