extends ../layout

block content
    section.section
        .container
            h1 Hmm.
            p It seems that you're lost in a perpetual black hole. Let us help guide you out and get you back home.