extends ../layout
block body
    body
        section.section
            .container.is-max-desktop
                h1.title.has-text-centered Kristine - Setup

                if err
                    .notification.is-danger!= err

                block form

        footer.footer
            .content.has-text-centered
                p
                    strong Kristine Setup.
                    |  Read&nbsp;
                    a(href='https://kristine.cadox8.es' target='_blank') documentation
                    |  for help. Made with&nbsp;
                    a(href='https://bulma.io' target='_blank') Bulma
                    | .

        script(type='text/javascript').
            function togglePassword() {
                const input = document.getElementById('password');
                const button = document.getElementById('pass');

                if (input.type === 'password') {
                    input.type = 'text';
                    button.classList.remove('fa-eye');
                    button.classList.add('fa-eye-slash');
                } else {
                    input.type = 'password';
                    button.classList.remove('fa-eye-slash');
                    button.classList.add('fa-eye');
                }
            }
            function togglePasswordUser() {
                const input = document.getElementById('password_user');
                const button = document.getElementById('pass_user');

                if (input.type === 'password') {
                    input.type = 'text';
                    button.classList.remove('fa-eye');
                    button.classList.add('fa-eye-slash');
                } else {
                    input.type = 'password';
                    button.classList.remove('fa-eye-slash');
                    button.classList.add('fa-eye');
                }
            }