extends layout

block block
    section.hero.is-info.is-bold
        div.hero-body
            div.container
                h1.title.has-text-centered #{siteName}
                h2.subtitle.has-text-centered A powerful server management
    section.section
        div.container
            p Welcome to <b>#{siteName}</b>. This site is designed to help <b>you</b> control all your servers at once