doctype html
html
  head
    title #{title} #{siteName}

    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    link(rel='stylesheet', href='/css/404.css')

    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="theme-color" content="#B21EC9")

    script(src="https://use.fontawesome.com/releases/v5.1.0/js/all.js")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src='/js/bulma.js')

    link(rel="icon" type="image/x-icon" href="/img/favicon.ico")

body
    block nav
        include static/nav.pug
    block block
    block error
    block footer
        include static/footer.pug