extends layout

block block
    section.section
        .container
            .columns
                .column.is-3
                    include utils/dmenu
                .column.is-9
                    section.hero.is-info.welcome.is-small
                        .hero-body
                            .container
                                h1.title Hello #{user}
                    br