footer.footer.has-background-dark
    .content.has-text-centered
        p.has-text-white
            strong.has-text-white Kristine
            |  by
            a(href='https://cadox8.es' target='_blank').has-text-primary  Cadox8
            | . You can download this forum at
            a(href='https://github.com/cadox8/Kristine' target='_blank').has-text-primary  Github
            | .
