footer.footer.has-background-dark.is-paddingless
    .content.has-text-centered
        .columns.has-text-white
            .column.is-4

            .column.is-2
                p.is-size-4.has-text-white About Us
                p.has-text-justified.is-size-6 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum ex non nulla tristique placerat. Vestibulum malesuada, tellus id laoreet cursus, lectus tellus suscipit mi, in vulputate elit mi ac ex. Praesent vel mi neque. In ullamcorper luctus vehicula. Cras laoreet lorem vitae est tincidunt, ac fermentum ligula euismod.

            .column.is-2
                p.is-size-4.has-text-white Useful Links
                .field.is-grouped
                    p.control
                        a(href="/" referrerpolicy='origin').button.is-dark.is-active.has-text-primary Home
                    p.control
                        a(href="/tos" referrerpolicy='origin').button.is-dark.is-active.has-text-primary Terms of Service
                .field.is-grouped
                    p.control
                        a(href="/privacy" referrerpolicy='origin').button.is-dark.is-active.has-text-primary Privacy Policy
                    p.control
                        a(href="/open" referrerpolicy='origin').button.is-dark.is-active.has-text-primary Open Source

            .column.is-4

        hr.has-background-grey-dark.is-paddingless.is-marginless
        p.has-text-grey-light.py-3
            | &copy; 2020
            strong
                a(href='https://github.com/cadox8/Kristine' target='_blank').has-text-primary  Kristine Forum
            |  by
            a(href='https://cadox8.es' target='_blank').has-text-primary  Cadox8
            |  . All Rights Reserved.