footer.footer.has-background-dark
    .content.has-text-centered
        p.has-text-white
            strong.has-text-white Kristine
            |  #{data.lang.getLang('helper.by')}
            a(href='https://cadox8.es' target='_blank').has-text-primary  Cadox8
            | . #{data.lang.getLang('helper.footer')}
            a(href='https://github.com/cadox8/Kristine' target='_blank').has-text-primary  Github
            | .
