aside.menu
    p.menu-label General
    ul.menu-list
        li
            a(href="/home") Dashboard
            a(href="/servers") Servers
    p.menu-label Settings
    ul.menu-list
        li
            a(href="#") Layout
            a(href="#") Settings