extends ../layout

block content
    section.section
        .container
            .columns
                .column.is-3.has-text-centered
                    p Future Text :D
                .column.is-6
                    .box
                        .media-content
                            .content
                                if data.errorCode !== -1
                                    .notification.is-danger.has-text-black #{data.errorMsg}

                                form(action="" method="post" autocomplete='off')
                                    .field
                                        label.label Username/Email
                                        .control.has-icons-left
                                            input.input(type="text" placeholder="Username/Email" name="login" id="login" required=)
                                            span.icon.is-small.is-left
                                                i.fas.fa-envelope
                                    .field
                                        label.label Password
                                        .control.has-icons-left
                                            input.input(type="password" placeholder="Password" name="password" required=)
                                            span.icon.is-small.is-left
                                                i.fas.fa-lock
                                    .field.is-grouped
                                        .control
                                            button.button.is-success Log In
                                        .control
                                            a.button.is-success.is-light(href='/register') Register

                .column.is-3.has-text-centered
                    p Future Text :D