block nav
    nav.navbar.is-dark
        .navbar-brand
            p.navbar-item
            a.navbar-item.is-size-4.brand(href="/") #{siteName}
            .navbar-burger.burger(data-target="menu")
                span
                span
                span
        .navbar-menu(id="menu")
            .navbar-start
                p.navbar-item
                p.navbar-item
                a.navbar-item(href="/") Home
                a.navbar-item(href="/about") About
            .navbar-end

                if !loggedin
                    .navbar-item
                        .field.is-grouped
                            p.control
                                a.button(href="/login")
                                    span.icon
                                        i.fas.fa-user
                                    span Login
                    .navbar-item
                        .field.is-grouped
                            p.control
                                a.button.is-link(href="/register")
                                    span.icon
                                        i.fas.fa-user-lock
                                    span Register
                else
                    .navbar-item.has-dropdown
                        a.navbar-link #{session.name}
                        .navbar-dropdown
                            a.navbar-item Settings
                            a.navbar-item(href="/logout") Logout


                p.navbar-item