aside.menu
    p.menu-label General
    ul.menu-list
        li
            a(href="/help") General
            a(href="#") The Site
    p.menu-label Users
    ul.menu-list
        li
            a(href="#") Log In
            a(href="#") Register
    p.menu-label Copyright
    ul.menu-list
        li
            a(href="/help/tos") Terms of Service
            a(href="#") Privacy Policy