doctype html
html(lang='en')
    head

        // Meta tags
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='theme-color' content='#' + THEME_COLOR)

        // SEO tags

        // CSS & JS Files
        link(rel='stylesheet' href='../public/css/kristine.css')

        title #{title}

    body
        include static/nav

            h1 g