extends layout
block body
    body
        include static/nav

        section.section
            .container.is-fluid
                .columns
                    .column.is-9


                    .column.is-hidden-mobile