extends layout
block body
    body
        section.hero.is-fullheight.is-info
            .hero-body
                .container.has-text-centered
                    .column.is-8.is-offset-2
                        .box
                            a.button.is-info(href='/install') Go to Installation Page