extends ../layout

block content
    section.section
        .container
            .box
                h1.title.has-text-centered Open Source Libraries
                p.has-text-centered Open Source Libraries used in this project
                hr
                ul.block-list.is-outlined.is-success
                    li.has-radius.has-text-black
                        a(href='https://bulma.io/' target='_blank' referrerpolicy='no-referrer' rel='external') Bulma
                        |  --
                        a(href='https://github.com/jgthms/bulma/blob/master/LICENSE' target='_blank' referrerpolicy='no-referrer' rel='external')  MIT
                        |  --
                        a(href='https://jgthms.com/' target='_blank' referrerpolicy='no-referrer' rel='external')  Jeremy Thomas
                    li.has-radius.has-radius.has-text-black
                        a(href='https://fontawesome.com/' target='_blank' referrerpolicy='no-referrer' rel='external') FontAwesome
                        |  --
                        a(href='https://fontawesome.com/license/free' target='_blank' referrerpolicy='no-referrer' rel='external')  FontAwesome Free License
                        |  --
                        a(href='https://fontawesome.com/' target='_blank' referrerpolicy='no-referrer' rel='external')  FontAwesome Team
                    li.has-radius.has-radius.has-text-black
                        a(href='https://www.flaticon.com/free-icon/error-404_921569?term=404%20error&page=1&position=17' target='_blank' referrerpolicy='no-referrer' rel='external') 404 Icon
                        |  --
                        a(href='https://www.flaticon.com/' target='_blank' referrerpolicy='no-referrer' rel='external')  FlatIcon License
                        |  --
                        a(href='https://www.flaticon.com/authors/freepik' target='_blank' referrerpolicy='no-referrer' rel='external')  Freepik